<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- <link href="../static/css/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
           th:href="@{/css/bootstrap-4.3.1-dist/css/bootstrap.min.css}"/> -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">


    <script src="../static/css/bootstrap-4.3.1-dist/js/bootstrap.min.js"
            th:src="@{/css/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <h2>You are Logged Out</h2>
        </div>
    </div>
</div>
</body>
</html>